/* Push the "View on Github" like to the bottom of the project */
.fixed-bottom-container {
    position: relative;
}
.fixed-bottom-container .fixed-bottom {
    position: absolute;
    bottom: 0;
}

/* This is hideous */
a {
    text-decoration: none;
}

/* Make these look kind of like cutestrap code */
.code {
    color: #e528b0;
    font-family: Consolas,Monaco,"Courier New",monospace;
    line-height: 1;
}
