<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
      {{ site.title }}{% if title %}: {{ title }}{% endif %} {% if subtitle %} -
      {{ subtitle }}{% endif %}
    </title>

    {% rendersection "styles" %} {% rendersection "head_scripts" %}
  </head>

  <body>
    <main>
      {{ content | safe }}
    </main>
    {% rendersection "body_scripts" %}
  </body>
</html>
