<svg style="display: none">
  <symbol id="trash-solid" viewBox="0 0 20 20" fill="currentColor">
    <path
      fill-rule="evenodd"
      d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z"
      clip-rule="evenodd"
    />
  </symbol>
</svg>

<section
  aria-labelledby="todo-header"
  id="inclusive-todo-list"
  x-data="todomvc"
>
  <h1 id="todo-header" tabindex="-1" x-ref="title">Inclusive To-do List</h1>
  <ul>
    <template x-for="(todo, i) in todoList">
      <li>
        <input type="checkbox" :id="`todo-${i}`" x-model="todo.done" />
        <label :for="`todo-${i}`" x-text="todo.title"></label>
        <button @click="removeTodo(todo)">
          <svg focusable="false">
            <use xlink:href="#trash-solid"></use>
          </svg>
          <span x-text='`Delete "${todo.title}"`' class="sr-only"></span>
        </button>
      </li>
    </template>
  </ul>
  <div id="no-todo-message">Todos you add will showup here!</div>
  <form @submit.prevent="addTodo">
    <label for="todo-title" class="sr-only">Title of your new to-do</label>
    <input
      id="todo-title"
      type="text"
      placeholder="E.g. Pet dogs"
      required
      x-model="todoTitle"
      :aria-invalid="!todoTitle"
    />
    <button type="submit" :disabled="!todoTitle">Add</button>
  </form>
</section>

{% section "scripts" %}
<script>
  document.addEventListener("alpine:init", () => {
    Alpine.data("todomvc", () => ({
      todoList: [
        {
          title: "Learn alpine.js",
          done: true,
        },
        {
          title: "Go bouldering",
        },
        {
          title: "Ride a bike",
        },
      ],
      todoTitle: "",
      addTodo() {
        this.todoList.push({
          title: this.todoTitle,
        });
        Alpine.store("live").announce(`"${this.todoTitle}" added`);
        this.todoTitle = "";
      },
      removeTodo(todo) {
        this.todoList = this.todoList.filter((t) => t !== todo);
        Alpine.store("live").announce(`"${todo.title}" removed`);
        this.$refs.title.focus();
      },
    }));
  });
</script>
{% endsection %}
<!---->
{% section "styles" %}
<style type="text/css">
  #inclusive-todo-list [tabindex="-1"] {
    outline: none;
  }
  #inclusive-todo-list #no-todo-message,
  #inclusive-todo-list #no-todo-message + ul:empty {
    display: none;
  }
  #inclusive-todo-list ul:empty + #no-todo-message {
    display: block;
  }
  #inclusive-todo-list :checked + label {
    text-decoration: line-through;
  }
  #inclusive-todo-list svg {
    height: 1.25rem;
    width: 1.25rem;
  }
</style>
{% endsection %}
