<!DOCTYPE>
<html>
	<head>
		<meta charset="utf-8">
		<title>{{#if title}}{{ title }} - {{/if}}{{ site.name }}</title>
		{{#if summary}}<meta name"description" content="{{ summary }}">{{/if}}
	</head>
	<body>
