<!DOCTYPE html>
<html>

    <head>
        <title>
            {% if page.title %}
                {{ page.title | escape }}
            {% else %}
                {{ site.title | escape }}
            {% endif %}
        </title>
        <meta name="description" content="
            {% if page.excerpt %}
                {{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}
            {% else %}
                {{ site.description }}
            {% endif %}"
        >

        <link rel="stylesheet" href="{{ '/css/cutestrap.min.css' | prepend: site.baseurl }}">
        <link rel="stylesheet" href="{{ '/css/main.css' | prepend: site.baseurl }}">
        <link rel="stylesheet" href="{{ '/css/syntax-highlighting.css' | prepend: site.baseurl }}">
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-78770987-1', 'auto');
            ga('send', 'pageview');
        </script>
    </head>

    <body>
        <header class="ta-center">
            <h1 class="fw-bold">
                <a title="Home" href="{{ '/' : prepend: site.baseurl }}">{{ site.title }}</a>
            </h1>
            <nav class="grid grid--medium">
                <a title="Latest 5 Blog Posts" href="{{ '/' | prepend: site.baseurl }}">
                    <span class="code">%> head -n 5 -v</span>
                </a>
                <a title="About" href="{{ '/about/' | prepend: site.baseurl }}">
                    <span class="code">%> whoami</span>
                </a>
                <a title="Projects" href="{{ '/projects/' | prepend: site.baseurl }}">
                    <span class="code">%> ls -lA ~/Projects/</span>
                </a>
            </nav>
        </header>

        {{ content }}

        <nav class="grid grid--medium">
            <span class="ta-center">
                <a title="Atom RSS" href="{{ '/feed.xml' | prepend: site.baseurl }}">
                    <img class="no-table" alt="Atom RSS" src="{{ '/assets/atom.png' | prepend: site.baseurl }}">
                </a>
                <a title="All Blog Posts" href="{{ '/blog/' | prepend: site.baseurl }}">
                    <span class="code">> ls -1 ~/Posts/</span>
                </a>
            </span>
        </nav>
    </body>

</html>
