<!DOCTYPE html>
<html>

    <head>
        <title>
            {% if page.title %}
                {{ page.title | escape }}
            {% else %}
                {{ site.title | escape }}
            {% endif %}
        </title>
        <meta name="description" content="
            {% if page.excerpt %}
                {{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}
            {% else %}
                {{ site.description }}
            {% endif %}"
        >

        <link rel="stylesheet" href="{{ '/css/cutestrap.min.css' | prepend: site.baseurl }}">
        <link rel="stylesheet" href="{{ '/css/main.css' | prepend: site.baseurl }}">
        <link rel="stylesheet" href="{{ '/css/syntax-highlighting.css' | prepend: site.baseurl }}">
    </head>

    <body>
        <header class="ta-center">
            <h1 class="fw-bold">
                <a title="Home" href="{{ '/' : prepend: site.baseurl }}">{{ site.title }}</a>
            </h1>
            <nav class="grid grid--medium">
                <a title="Latest 5 Blog Posts" href="{{ '/' | prepend: site.baseurl }}">
                    <span class="code">%> head -n 5 -v</span>
                </a>
                <a title="About" href="{{ '/about/' | prepend: site.baseurl }}">
                    <span class="code">%> whoami</span>
                </a>
                <a title="Projects" href="{{ '/projects/' | prepend: site.baseurl }}">
                    <span class="code">%> ls -lA ~/Projects/</span>
                </a>
            </nav>
        </header>

        <hr/>

        {{ content }}

        <hr/>

        <nav class="ta-center grid grid--medium no-padding-top">
            <a title="All Blog Posts" href="{{ '/blog/' | prepend: site.baseurl }}">
                <span class="code">%> ls -1 ~/Posts/</span>
            </a>
        </nav>
    </body>

</html>
