---
layout: default
script: "blog.js"
---

<article class="wrapper-large" itemscope itemtype="http://schema.org/BlogPosting">
    <header class="ta-center">
        <h3 itemprop="name headline">{{ page.title }}</h3>
        <div class="fs-small fw-light">
            <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
                {{ page.date | date: "%b %-d, %Y" }}
            </time>
        </div>
    </header>

    <br/>
    <div itemprop="articleBody">
        {{ content }}
    </div>

    <nav class="grid grid--medium">
        {% if page.previous.url %}
            <a title="Previous" class="ta-left" href="{{page.previous.url}}"><~&nbsp;{{page.previous.title}}</a>
        {% endif %}
        {% if page.next.url %}
            <a title="Next" class="ta-right" href="{{page.next.url}}">{{page.next.title}}&nbsp;~></a>
        {% endif %}
    </nav>
</article>
