---
layout: default
---

<article class="wrapper-large no-padding-top negative-margin-top" itemscope itemtype="http://schema.org/BlogPosting">
    <header>
        <h3 class="ta-center" itemprop="name headline">
            {{ page.title }}
            <span class="fs-small fw-light d-block">
                <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
                    {{ page.date | date: "%b %-d, %Y" }}
                </time>
            </span>
        </h3>
    </header>

    <div itemprop="articleBody">
        {{ content }}
    </div>

    <nav class="wrapper-small">
        {% if page.previous.url %}
            <a title="Previous" class="prev" href="{{page.previous.url}}">
                <~&nbsp;{{page.previous.title}}&nbsp;&nbsp;|&nbsp;
            </a>
        {% endif %}
        {% if page.next.url %}
            <a title="Next" class="next" href="{{page.next.url}}">
                &nbsp;|&nbsp;&nbsp;{{page.next.title}}&nbsp;~>
            </a>
        {% endif %}
    </nav>
</article>
